$bg-col: #131721;
$bg-chart: #1d2029;
$col-white: #ffffff;
$col-gray: #a0a3af;
$col-orange: #e7ab21;
$col-black: #252424;
$col-green: #38ada9;
$col-green-dt: #4fd08a;
$col-purple-dt: #bb33dd;
$col-yellow-dt: #ccac3d;
$col-red-dt: #cf422f;
$col-blue-dt: #00cccc;
$gray-col-th: #292d38;
$green-col-th: #0fb159;
$red-col-th: #dd2e16;
$font-family: "Roboto";
$font-14px: 14px;
$font-12px: 12px;
@mixin CSSlogin($font-size: 14px, $line-height: 20px) {
  font-size: $font-size;
  line-height: $line-height;
}
@mixin CSSbtn(
  $max-width: 395px,
  $width: 100%,
  $padding: 16px 0px,
  $boder-radius: 10px,
  $cursor: pointer
) {
  max-width: $max-width;
  width: $width;
  padding: $padding;
  border-radius: $boder-radius;
  cursor: $cursor;
}
@mixin CSShover($col: #b2bec3) {
  color: $col;
  font-size: 16x;
}

// table
@mixin CSSborders($border: 1px solid #20232d) {
  border: $border;
}
@mixin CSSchangeborder($border: 1px solid #282c37) {
  border: $border;
}
@mixin textAlign($text-align: center) {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body::-webkit-scrollbar {
  width: 0 !important;
}

body {
  height: 100vh;
  font-family: $font-family;
}

.login {
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;
  background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  .login__flex {
    height: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
  }
}

.login__flexLeft {
  width: 40%;
  flex-direction: column;
  padding-top: 38px;
  padding-left: 56px;
  padding-right: 63px;
}

.logo__login {
  display: flex;
  flex-direction: column;
  &-navi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 95px;
    a {
      max-width: 100px;
      text-decoration: none;
      img {
        height: 100%;
        width: 100%;
        cursor: pointer;
      }
    }
    p {
      margin-top: 25px;
      font-family: Roboto;
      font-size: 12px;
      color: rgb(160, 163, 175);
      line-height: 16px;
      max-width: 534px;
      width: 100%;
    }
  }
}

.chart__login {
  max-width: 635px;
  width: 100%;
  img {
    width: 100%;
    object-fit: fill;
  }
}
.login__flexRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .login__block {
    max-width: 395px;
    width: 100%;
  }
}

.login__block {
  .login__heading {
    padding: 5px 0px;
    font-size: 32px;
    line-height: 25px;
    margin-bottom: 39px;
    color: $col-white;
  }
  .login__heading:hover {
    color: #dfe4ea;
  }
}
form {
  .login__account,
  .login__password {
    @include CSSlogin();
    color: $col-gray;
    margin-bottom: 8px;
    line-height: 29px;
  }
  .login__account:hover .login__password:hover {
    @include CSShover();
  }
}

.login__acc,
.login__pass {
  input {
    @include CSSbtn();
    background-color: #313645;
    padding-left: 16px;
    color: $col-white;
    font-size: $font-14px;
    outline: none;
    border: none;
  }
  input:focus {
    background-color: #57606f;
  }
}
form {
  .login__acc {
    margin-bottom: 12px;
  }

  .login__pass {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
  }

  .login__btn {
    a {
      display: block;
      text-decoration: none;
      color: $col-black;
      font-family: $font-family;
      button {
        @include CSSbtn();
        background-color: $col-orange;
        text-align: center;
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 700;
        border: none;
        outline: none;
      }
      button:hover {
        background-color: #f6b93b;
        color: $col-black;
      }
    }
  }

  .forgot__pass {
    margin-bottom: 20px;
    a {
      color: $col-gray;
      margin-bottom: 25px;
      font-size: $font-14px;
      text-decoration: none;
    }
    a:hover {
      @include CSShover();
    }
  }

  span {
    color: $col-gray;
    font-size: $font-14px;
    a {
      color: $col-orange;
      text-decoration: none;
      font-size: $font-14px;
    }
  }

  span:hover {
    @include CSShover();
  }
}

.login__flexRight {
  .copyright {
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    .copyright-detail {
      display: flex;
      justify-content: space-between;
      font-size: $font-14px;
      a {
        text-decoration: none;
        color: $col-gray;
        padding: 0px 20px;
      }
      a:hover {
        @include CSShover();
      }
    }
  }
}

//Login-responsive
@media only screen and(max-width: 1580px) {
  .login__flexLeft {
    padding-right: 56px;
  }
}

@media only screen and(max-width: 1500px) {
  .login__flexLeft {
    padding-right: 20px;
  }
}
@media only screen and(max-width: 1496px) {
  .chart__login {
    img {
      width: 90%;
      object-fit: fill;
    }
  }
  .logo__login-navi {
    margin-bottom: 69px;
  }
}
@media only screen and(max-width: 1390px) {
  .login__flexLeft {
    padding-right: 0px;
  }
}

@media only screen and(max-width: 1186px) {
  .login__flexRight {
    width: 60%;
  }
}

@media only screen and(max-width: 1178px) {
  .login__flexLeft {
    padding: 0px;
    width: 0px;
    .logo__login {
      &-navi {
        a {
          position: absolute;
          top: 50px;
          left: 50px;
          opacity: 0.4;
          height: 28px;
        }
        p {
          display: none;
        }
      }
    }
  }
  .chart__login {
    display: none;
  }

  .login__flexRight {
    width: 100%;
    min-height: 100vh;
    padding: 0px 15px;
  }
}

@media only screen and(max-width: 922px) {
  .login__flexRight {
    .login__block {
      max-width: 350px;
    }
  }
  .login__flexLeft {
    .logo__login {
      &-navi {
        a {
          position: absolute;
          top: 50px;
          left: 30px;
          opacity: 0.4;
          height: 30px;
        }
        p {
          display: none;
        }
      }
    }
  }
}
@media only screen and(max-width:591px) {
  .login__flexLeft {
    .logo__login {
      &-navi {
        a {
          height: 18px;
        }
      }
    }
  }
  .login__flexRight {
    .copyright {
      .copyright-detail {
        a {
          padding: 0px 5px;
          font-size: 12px;
        }
      }
    }
  }
}
@media only screen and(max-width:467px) {
  .login__flexLeft {
    .logo__login {
      &-navi {
        a {
          top: 50px;
          left: 20px;
        }
      }
    }
  }
  .login__block {
    .login__heading {
      font-size: 31px;
      margin-bottom: 34px;
    }
  }
  .login__flexRight {
    .login__block {
      max-width: 300px;
    }
    .copyright {
      bottom: 15px;
      .copyright-detail {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  form {
    .login__btn {
      a {
        button {
          padding: 15px 0px 15px 8px;
        }
      }
    }
    .login__acc {
      input {
        padding: 15px 0px 15px 8px;
      }
    }
    .login__pass {
      input {
        padding: 15px 0px 15px 8px;
      }
    }
  }

  .login__flexRight {
    .copyright {
      .copyright-detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 20px;
        a {
          padding: 4px 10px;
        }
      }
    }
  }
}
@media only screen and(max-width:375px) {
  .login__block {
    max-width: 273px;
    .login__heading {
      font-size: 28px;
      margin-bottom: 32px;
    }
    form {
      .login__btn {
        a {
          button {
            font-size: 14px;
            padding: 14px 0px;
          }
        }
      }
    }
    .login__acc {
      input {
        padding: 14px 0px 14px 14px;
      }
    }
    .login__pass {
      input {
        padding: 14px 0px 14px 14px;
      }
    }
  }
}
// end_responsive Login

//market-trading//
#root {
  width: 100%;
  background-color: $bg-col;
  height: 100vh;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 111;
}

// header__wrap
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  height: 60px;
  background-color: $bg-col;
}

.header__content {
  display: flex;
  align-items: center;
  .header__logo {
    display: flex;
    .fa-solid.fa-xmark {
      display: none;
    }
    a {
      text-decoration: none;
    }
    a {
      .lg-name {
        margin-left: 12px;
      }
    }
  }
  // .header__nav {
  //   .navHide {
  //     display: none;
  //   }
  // }
}

.header__nav {
  padding-left: 30px;
  .navbar {
    display: flex;
    margin: 0px;
    align-items: center;
    list-style: none;
  }
}
.navbar__item {
  .navbar__item-link {
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    color: $col-gray;
    font-size: $font-14px;
    padding: 0px 16px;
    border-bottom: 2px;
  }
  .navbar__item-link:active {
    color: $col-orange;
    border-bottom: 1px solid $col-orange;
  }
}

// header__right
.header__right {
  display: flex;
  align-items: center;
}
.header__flex {
  display: flex;
  align-items: center;
  border-right: 1px solid #292d38;
  .img-transaction {
    padding: 0px 18px 0px 5px;
    color: $col-orange;
  }
  span {
    color: $col-orange;
    font-size: 16px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span:hover {
    color: $col-white;
  }
  .star {
    height: 19px;
    width: 30px;
    background-color: #cf422f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    img {
      height: 10px;
    }
  }
  p {
    margin: 0px;
    color: $col-gray;
    padding: 0px 5px 0px 10px;
    font-size: $font-12px;
  }
  p:hover {
    color: $col-orange;
  }
  .dropdown-icon {
    padding: 0px 12px 0px 4px;
    height: 5px;
  }
}
.header__account {
  display: flex;
  align-items: center;
  .ring-box {
    padding: 0px 20px;
    // .ring:hover {

    // }
  }
  .avata-girl {
    padding: 0px 8px;
  }
  p {
    padding: 0px 12px;
    margin: 0px;
    color: $col-white;
  }
  p:hover {
    color: $col-orange;
  }
  .dropdown-icon {
    height: 5px;
  }
}
.menuHide,
.navHide,
.tabBox {
  display: none;
}

// chart__wrap
.swiper {
  background-color: $bg-chart;
}

.swiper-wrapper {
  .swiper-slide {
    padding: 20px 0px 20px 0px;
  }
}

.chart__wrap {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #292d38;
  color: #ffffff;
  padding: 0px 15px;
}

.chart__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .chart__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 11px;
  }
}

.chart__img {
  width: 160px;
  img {
    height: 100%;
    width: 100%;
  }
}

.chart__header {
  &-text {
    display: flex;
    div {
      font-size: 12px;
    }
    span {
      font-size: 10px;
      color: $col-gray;
      padding: 0px 0px 2px 8px;
      margin-top: auto;
    }
  }
  &-nbGreen {
    color: $col-green-dt;
    font-size: 12px;
    margin-top: 3px;
    font-weight: bold;
    span {
      color: $col-green-dt;
      font-size: 10px;
    }
  }
  &-number {
    margin-top: 5px;
    font-size: $font-12px;
    .fa-solid.fa-up-long {
      color: $col-green-dt;
    }
    .nb-green {
      color: $col-green-dt;
    }
    .nb-purple {
      color: $col-purple-dt;
    }
    .nb-orange {
      color: $col-yellow-dt;
      padding: 0px 8px;
    }
    .down-log {
      color: $col-red-dt;
    }
    .nb-blue {
      color: $col-blue-dt;
    }
  }
}

.chart__footer {
  font-size: $font-12px;
  color: $col-gray;
  line-height: 18px;
}

.price__board::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.price__board {
  overflow-x: auto;
  background-color: #292d38;
  display: flex;
  padding: 4px 0px;
  justify-content: space-between;
}
.price__right {
  .nav {
    .nav-item {
      a {
        background-color: #292d38;
        border: none;
      }
      a:hover {
        background-color: none;
      }
    }
  }
}

.price__left {
  .nav-pills {
    .active {
      a {
        background-color: #292d38;
        border: none;
      }
      a:hover {
        background-color: none;
      }
    }
  }
}

.price__left {
  display: flex;
  .block__search {
    padding: 0px;
    padding-left: 16px;
    border-right: 2px solid #313645;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      position: relative;
      img {
        position: absolute;
        top: 7px;
      }
      input {
        background-color: #292d38;
        padding: 5px 0px;
        outline: none;
        border: none;
        padding-left: 20px;
        color: $col-white;
      }
    }
  }
}

.tab-content > .active {
  display: block;
  color: $col-white;
}

// navtabs
.price__left {
  display: flex;
  align-items: center;
  .nav-pills {
    display: flex;
    align-items: center;
    list-style: none;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    width: 900px;
    width: 100%;
    .nav-item {
      margin: 0px;
      display: flex;
      align-items: center;
      font-size: $font-14px;
      padding: 0px 10px;
      list-style: none;
      .nav-link {
        text-decoration: none;
        color: #797f8a;
        padding: 4px;
        white-space: nowrap;
      }
      a {
        margin-right: 0px;
        border: none;
        color: $col-orange;
        outline: none;
        img {
          padding: 0px 5px;
        }
        .star {
          margin-bottom: 4px;
        }
      }

      a:hover {
        color: $col-orange;
        padding: 4px;
        background-color: #373940;
        border-radius: 2px;
        border: none;
        border-radius: 5px;
        color: $col-orange;
        outline: none;
      }
      a:focus {
        background-color: #373940;
        border-radius: 5px;
        border: none;
        color: $col-orange;
        outline: none;
      }
    }
  }
}

.price__left {
  .nav-pills {
    border-bottom: none;
  }
}
.price__right {
  .nav-pills {
    border-bottom: none;
    display: flex;
    .nav-item {
      a {
        margin-right: 0px;
        padding: 10px;
      }
      a:hover {
        background-color: #292d38;
        border: none;
      }
    }
  }
}

// table
.table-container::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.table-container {
  max-height: calc(100vh - 254px);
  height: 100vh;
  overflow-y: auto;
}
.table_price {
  .theader {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: $bg-col;
    z-index: 1;
  }
}
.table_price {
  border-collapse: collapse;
  background-color: $bg-col;
  width: 100%;
  max-width: 1920px;
  @include CSSborders();
  tr {
    @include CSSborders();
    th {
      @include CSSborders();
      font-size: $font-12px;
      a {
        text-decoration: none;
        padding: 0px 5px;
      }
    }
    .blackbg {
      color: $col-white;
      @include textAlign();
    }
    .border-left {
      @include textAlign();
      @include CSSchangeborder();
      color: $col-white;
    }
    .border-right {
      @include textAlign();
      color: $col-gray;
      padding: 8px 0px;
      border: 1px solid #282c37;
    }
    .price-item {
      color: $col-white;
      padding: 8px 0px;
      border: 1px solid #282c37;
      @include textAlign();
    }
  }
}

.table_price {
  tr {
    td {
      @include textAlign();
      padding: 2px 15px;
      font-size: 11px;
      border: 1px solid #20232d;
    }
    .green-col {
      color: $green-col-th;
    }
    .red-col {
      color: $red-col-th;
    }

    .purple-col {
      color: $col-purple-dt;
    }
    .blue-col {
      color: $col-blue-dt;
    }
    .yellow-col {
      color: $col-yellow-dt;
    }
    .white-col {
      color: $col-white;
    }
    .change-color {
      background-color: #20242f;
      padding: 0px 18px;
      border: 1px solid #282c37;
    }
  }
}
tbody {
  .box-data:hover {
    background-color: rgb(70, 68, 68);
  }
}
// thumbnail__wrap
.thumbnail__wrap {
  background-color: $bg-col;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  color: white;
  padding: 0px 10px;
  padding-top: 16px;
  background-color: $bg-col;
}

.thumbnail__board {
  background-color: $gray-col-th;
  border-radius: 5px;
  padding: 15px;
  .thumbnail__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &-info {
      display: flex;
      align-items: center;
      color: $col-green-dt;
      div:first-child {
        padding-right: 10px;
      }
      div:nth-child(2) {
        font-size: $font-12px;
      }
      div:last-child {
        padding-left: 8px;
        font-size: $font-12px;
      }
    }
    .txt-red {
      color: $col-red-dt !important;
    }
    img {
      height: 15px;
    }
  }
  .thumbnail__bottom {
    &-grid {
      display: grid;
      grid-template-columns: auto auto auto auto;
      .dt-box {
        font-size: $font-12px;
        div:first-child {
          color: $col-gray;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.dt-box {
  div {
    .txt-green {
      color: $col-green-dt;
    }
    .txt-red {
      color: $red-col-th;
    }
  }
}

//responsive-header

.overflow::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
@media only screen and(max-width: 1946px) {
  .overflow {
    overflow-x: scroll;
  }
}

// respo-swipper
@media only screen and(max-width:1476px) {
  .mySwiper {
    .swiper-wrapper .swiper-slide {
      min-width: 340px;
    }
  }
}
// respo-price__board
@media only screen and(max-width:1322px) {
  .price__left {
    .nav-pills {
      .nav-item {
        padding: 0px 5px;
      }
    }
  }
}

@media only screen and(max-width:1496px) {
  .thumbnail__wrap {
    overflow-x: scroll;
    .thumbnail__board {
      min-width: 240px;
      padding: 5px 10px;
    }
  }
}

@media only screen and(max-width:1141px) {
  .price__right {
    .nav-pills {
      .nav-item {
        padding: 0px 5px;
      }
    }
  }
}

@media only screen and(max-width:1205px) {
  .header__nav {
    padding-left: 10px;
  }
  .navbar__item {
    .navbar__item-link {
      padding: 0px 10px;
    }
  }
  .header__flex {
    .img-transaction {
      padding: 0px 15px 0px 5px;
    }
    span {
      padding-right: 17px;
    }
  }
  .header__account {
    .ring-box {
      padding: 0px 12px;
    }
    p {
      padding: 0px 10px;
    }
  }
}

@media only screen and(max-width:1036px) {
  .navbar__item {
    .navbar__item-link {
      padding: 0px 5px;
    }
  }
  .header__flex {
    .img-transaction {
      padding: 0px 6px;
    }
    span {
      padding-right: 17px;
      font-size: 14px;
    }
  }
  .header__account {
    .avata-girl {
      padding: 0px 4px;
    }
  }
}

@media only screen and (max-width: 990px) {
  // .logo {
  //   display: none;
  // }
  .header__content {
    .header__logo {
      a {
        .lg-name {
          margin-left: 15px;
          height: 18px;
        }
      }
    }
  }
  .header__wrap {
    position: relative;
  }

  //css click menuHide
  .header__right {
    .tabBox {
      display: flex;
      width: 300px;
      top: 60px;
      left: -300px;
      height: calc(100vh - 60px);
      background-color: #16222c;
      z-index: 2;
      position: absolute;
      transition: left 400ms;
    }
    .active {
      left: 0;
      width: 100%;
    }
  }

  .header__wrap {
    position: relative;
  }
  .header__left {
    .navbar {
      display: none;
    }
  }
  .header__right {
    .header__flex {
      .img-transaction,
      span,
      p,
      .dropdown-icon {
        display: none;
      }
    }
    .header__account {
      .avata-girl,
      p,
      .dropdown-icon {
        display: none;
      }
    }
  }
  .navHide {
    display: flex;
    flex-direction: column;
    width: 100%;
    .list {
      list-style: none;
      width: 100%;
      padding: 20px 0px 20px 30px;
      border-top: 1px solid #242832;
      display: flex;
      a {
        text-decoration: none;
        color: $col-white;
        font-size: 14px;
        font-weight: 700px;
      }
      a:hover {
        color: $col-orange;
      }
    }
    .list:hover {
      background-color: #292d38;
    }
  }
  .logo {
    cursor: pointer;
  }
  // .menuHide {
  //   display: flex;
  //   padding-left: 4px;
  //   cursor: pointer;
  // }
}
