* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto"; }

body::-webkit-scrollbar {
  width: 0 !important; }

body {
  height: 100vh;
  font-family: "Roboto"; }

.login {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .login .login__flex {
    height: 100%;
    display: flex;
    justify-content: space-between; }

.login__flexLeft {
  width: 40%;
  flex-direction: column;
  padding-top: 38px;
  padding-left: 56px;
  padding-right: 63px; }

.logo__login {
  display: flex;
  flex-direction: column; }
  .logo__login-navi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 95px; }
    .logo__login-navi a {
      max-width: 100px;
      text-decoration: none; }
      .logo__login-navi a img {
        height: 100%;
        width: 100%;
        cursor: pointer; }
    .logo__login-navi p {
      margin-top: 25px;
      font-family: Roboto;
      font-size: 12px;
      color: #a0a3af;
      line-height: 16px;
      max-width: 534px;
      width: 100%; }

.chart__login {
  max-width: 635px;
  width: 100%; }
  .chart__login img {
    width: 100%;
    object-fit: fill; }

.login__flexRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .login__flexRight .login__block {
    max-width: 395px;
    width: 100%; }

.login__block .login__heading {
  padding: 5px 0px;
  font-size: 32px;
  line-height: 25px;
  margin-bottom: 39px;
  color: #ffffff; }
.login__block .login__heading:hover {
  color: #dfe4ea; }

form .login__account,
form .login__password {
  font-size: 14px;
  line-height: 20px;
  color: #a0a3af;
  margin-bottom: 8px;
  line-height: 29px; }
form .login__account:hover .login__password:hover {
  color: #b2bec3;
  font-size: 16x; }

.login__acc input,
.login__pass input {
  max-width: 395px;
  width: 100%;
  padding: 16px 0px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #313645;
  padding-left: 16px;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  border: none; }
.login__acc input:focus,
.login__pass input:focus {
  background-color: #57606f; }

form .login__acc {
  margin-bottom: 12px; }
form .login__pass {
  margin-bottom: 22px;
  display: flex;
  align-items: center; }
form .login__btn a {
  display: block;
  text-decoration: none;
  color: #252424;
  font-family: "Roboto"; }
  form .login__btn a button {
    max-width: 395px;
    width: 100%;
    padding: 16px 0px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e7ab21;
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none; }
  form .login__btn a button:hover {
    background-color: #f6b93b;
    color: #252424; }
form .forgot__pass {
  margin-bottom: 20px; }
  form .forgot__pass a {
    color: #a0a3af;
    margin-bottom: 25px;
    font-size: 14px;
    text-decoration: none; }
  form .forgot__pass a:hover {
    color: #b2bec3;
    font-size: 16x; }
form span {
  color: #a0a3af;
  font-size: 14px; }
  form span a {
    color: #e7ab21;
    text-decoration: none;
    font-size: 14px; }
form span:hover {
  color: #b2bec3;
  font-size: 16x; }

.login__flexRight .copyright {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%; }
  .login__flexRight .copyright .copyright-detail {
    display: flex;
    justify-content: space-between;
    font-size: 14px; }
    .login__flexRight .copyright .copyright-detail a {
      text-decoration: none;
      color: #a0a3af;
      padding: 0px 20px; }
    .login__flexRight .copyright .copyright-detail a:hover {
      color: #b2bec3;
      font-size: 16x; }

@media only screen and (max-width: 1580px) {
  .login__flexLeft {
    padding-right: 56px; } }
@media only screen and (max-width: 1500px) {
  .login__flexLeft {
    padding-right: 20px; } }
@media only screen and (max-width: 1496px) {
  .chart__login img {
    width: 90%;
    object-fit: fill; }

  .logo__login-navi {
    margin-bottom: 69px; } }
@media only screen and (max-width: 1390px) {
  .login__flexLeft {
    padding-right: 0px; } }
@media only screen and (max-width: 1186px) {
  .login__flexRight {
    width: 60%; } }
@media only screen and (max-width: 1178px) {
  .login__flexLeft {
    padding: 0px;
    width: 0px; }
    .login__flexLeft .logo__login-navi a {
      position: absolute;
      top: 50px;
      left: 50px;
      opacity: 0.4;
      height: 28px; }
    .login__flexLeft .logo__login-navi p {
      display: none; }

  .chart__login {
    display: none; }

  .login__flexRight {
    width: 100%;
    padding: 0px 15px; } }
@media only screen and (max-width: 922px) {
  .login__flexRight .login__block {
    max-width: 350px; }

  .login__flexLeft .logo__login-navi a {
    position: absolute;
    top: 50px;
    left: 30px;
    opacity: 0.4;
    height: 30px; }
  .login__flexLeft .logo__login-navi p {
    display: none; } }
@media only screen and (max-width: 591px) {
  .login__flexLeft .logo__login-navi a {
    height: 18px; }

  .login__flexRight .copyright .copyright-detail a {
    padding: 0px 5px;
    font-size: 12px; } }
@media only screen and (max-width: 467px) {
  .login__flexLeft .logo__login-navi a {
    top: 50px;
    left: 20px; }

  .login__block .login__heading {
    font-size: 31px;
    margin-bottom: 34px; }

  .login__flexRight .login__block {
    max-width: 300px; }
  .login__flexRight .copyright {
    bottom: 15px; }
    .login__flexRight .copyright .copyright-detail {
      display: flex;
      flex-wrap: wrap; }

  form .login__btn a button {
    padding: 15px 0px 15px 8px; }
  form .login__acc input {
    padding: 15px 0px 15px 8px; }
  form .login__pass input {
    padding: 15px 0px 15px 8px; }

  .login__flexRight .copyright .copyright-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 20px; }
    .login__flexRight .copyright .copyright-detail a {
      padding: 4px 10px; } }
@media only screen and (max-width: 375px) {
  .login__block {
    max-width: 273px; }
    .login__block .login__heading {
      font-size: 28px;
      margin-bottom: 32px; }
    .login__block form .login__btn a button {
      font-size: 14px;
      padding: 14px 0px; }
    .login__block .login__acc input {
      padding: 14px 0px 14px 14px; }
    .login__block .login__pass input {
      padding: 14px 0px 14px 14px; } }
#root {
  width: 100%;
  background-color: #131721;
  height: 100vh; }

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 111; }

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  height: 60px;
  background-color: #131721; }

.header__content {
  display: flex;
  align-items: center; }
  .header__content .header__logo {
    display: flex; }
    .header__content .header__logo a {
      text-decoration: none; }
    .header__content .header__logo a .lg-name {
      margin-left: 12px; }

.header__nav {
  padding-left: 30px; }
  .header__nav .navbar {
    display: flex;
    margin: 0px;
    align-items: center;
    list-style: none; }

.navbar__item .navbar__item-link {
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: #a0a3af;
  font-size: 14px;
  padding: 0px 16px;
  border-bottom: 2px; }
.navbar__item .navbar__item-link:active {
  color: #e7ab21;
  border-bottom: 1px solid #e7ab21; }

.header__right {
  display: flex;
  align-items: center; }

.header__flex {
  display: flex;
  align-items: center;
  border-right: 1px solid #292d38; }
  .header__flex .img-transaction {
    padding: 0px 18px 0px 5px;
    color: #e7ab21; }
  .header__flex span {
    color: #e7ab21;
    font-size: 16px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__flex .star {
    height: 19px;
    width: 30px;
    background-color: #cf422f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px; }
    .header__flex .star img {
      height: 10px; }
  .header__flex p {
    margin: 0px;
    color: #a0a3af;
    padding: 0px 5px 0px 10px;
    font-size: 12px; }
  .header__flex .dropdown-icon {
    padding: 0px 12px 0px 4px;
    height: 5px; }

.header__account {
  display: flex;
  align-items: center; }
  .header__account .ring-box {
    padding: 0px 20px; }
  .header__account .avata-girl {
    padding: 0px 8px; }
  .header__account p {
    padding: 0px 12px;
    margin: 0px;
    color: #ffffff; }
  .header__account .dropdown-icon {
    height: 5px; }

.swiper {
  background-color: #1d2029; }

.swiper-wrapper .swiper-slide {
  padding: 20px 0px 20px 0px; }

.chart__wrap {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #292d38;
  color: #ffffff;
  padding: 0px 15px; }

.chart__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .chart__content .chart__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 11px; }

.chart__img {
  width: 160px; }
  .chart__img img {
    height: 100%;
    width: 100%; }

.chart__header-text {
  display: flex; }
  .chart__header-text div {
    font-size: 12px; }
  .chart__header-text span {
    font-size: 10px;
    color: #a0a3af;
    padding: 0px 0px 2px 8px;
    margin-top: auto; }
.chart__header-nbGreen {
  color: #4fd08a;
  font-size: 12px;
  margin-top: 3px;
  font-weight: bold; }
  .chart__header-nbGreen span {
    color: #4fd08a;
    font-size: 10px; }
.chart__header-number {
  margin-top: 5px;
  font-size: 12px; }
  .chart__header-number .fa-solid.fa-up-long {
    color: #4fd08a; }
  .chart__header-number .nb-green {
    color: #4fd08a; }
  .chart__header-number .nb-purple {
    color: #bb33dd; }
  .chart__header-number .nb-orange {
    color: #ccac3d;
    padding: 0px 8px; }
  .chart__header-number .down-log {
    color: #cf422f; }
  .chart__header-number .nb-blue {
    color: #00cccc; }

.chart__footer {
  font-size: 12px;
  color: #a0a3af;
  line-height: 18px; }

.price__board {
  background-color: #292d38;
  display: flex;
  padding: 4px 0px;
  justify-content: space-between; }

.price__left {
  display: flex; }
  .price__left .block__search {
    padding: 0px;
    padding-left: 16px;
    border-right: 2px solid #313645;
    display: flex;
    justify-content: center;
    align-items: center; }
    .price__left .block__search div {
      position: relative; }
      .price__left .block__search div img {
        position: absolute;
        top: 7px; }
      .price__left .block__search div input {
        background-color: #292d38;
        padding: 5px 0px;
        outline: none;
        border: none;
        padding-left: 20px;
        color: #ffffff; }

.tab-content > .active {
  display: block;
  color: #ffffff; }

.price__left {
  display: flex;
  align-items: center; }
  .price__left .nav-tabs {
    display: flex;
    align-items: center;
    list-style: none;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    width: 900px;
    width: 100%; }
    .price__left .nav-tabs .nav-item {
      margin: 0px;
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 0px 10px;
      list-style: none; }
      .price__left .nav-tabs .nav-item .nav-link {
        text-decoration: none;
        color: #797f8a;
        padding: 4px; }
      .price__left .nav-tabs .nav-item a {
        margin-right: 0px;
        border: none;
        color: #e7ab21;
        outline: none; }
        .price__left .nav-tabs .nav-item a img {
          padding: 0px 5px; }
        .price__left .nav-tabs .nav-item a .star {
          margin-bottom: 4px; }
      .price__left .nav-tabs .nav-item a:hover {
        color: #e7ab21;
        padding: 4px;
        background-color: #373940;
        border-radius: 2px;
        border: none;
        border-radius: 5px;
        color: #e7ab21;
        outline: none; }
      .price__left .nav-tabs .nav-item a:focus {
        background-color: #373940;
        border-radius: 5px;
        border: none;
        color: #e7ab21;
        outline: none; }

header .price__board .price__left .nav-tabs {
  border-bottom: none; }
header .price__board .price__right .nav-tabs {
  border-bottom: none; }
  header .price__board .price__right .nav-tabs .nav-item a {
    margin-right: 0px;
    padding: 10px; }
  header .price__board .price__right .nav-tabs .nav-item a:hover {
    background-color: #373940;
    border: none; }

.table_price .theader {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #131721;
  z-index: 1; }

.table_price {
  border-collapse: collapse;
  background-color: #131721;
  width: 100%;
  max-width: 1920px;
  border: 1px solid #20232d; }
  .table_price tr {
    border: 1px solid #20232d; }
    .table_price tr th {
      border: 1px solid #20232d;
      font-size: 12px; }
      .table_price tr th a {
        text-decoration: none;
        padding: 0px 5px; }
    .table_price tr .blackbg {
      color: #ffffff;
      text-align: center; }
    .table_price tr .border-left {
      text-align: center;
      border: 1px solid #282c37;
      color: #ffffff; }
    .table_price tr .border-right {
      text-align: center;
      color: #a0a3af;
      padding: 8px 0px;
      border: 1px solid #282c37; }
    .table_price tr .price-item {
      color: #ffffff;
      padding: 8px 0px !important;
      border: 1px solid #282c37;
      text-align: center; }

.table_price tr td {
  text-align: center;
  padding: 2px 15px;
  font-size: 11px;
  border: 1px solid #20232d; }
.table_price tr .green-col {
  color: #0fb159; }
.table_price tr .red-col {
  color: #dd2e16; }
.table_price tr .purple-col {
  color: #bb33dd; }
.table_price tr .blue-col {
  color: #00cccc; }
.table_price tr .yellow-col {
  color: #ccac3d; }
.table_price tr .white-col {
  color: #ffffff; }
.table_price tr .change-color {
  background-color: #20242f !important;
  padding: 0px 18px;
  border: 1px solid #282c37; }

.thumbnail__wrap {
  background-color: #131721;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  color: white;
  padding: 0px 10px;
  padding-top: 16px;
  background-color: #131721; }

.thumbnail__board {
  background-color: #292d38;
  border-radius: 5px;
  padding: 15px; }
  .thumbnail__board .thumbnail__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
    .thumbnail__board .thumbnail__top-info {
      display: flex;
      align-items: center;
      color: #4fd08a; }
      .thumbnail__board .thumbnail__top-info div:first-child {
        padding-right: 10px; }
      .thumbnail__board .thumbnail__top-info div:nth-child(2) {
        font-size: 12px; }
      .thumbnail__board .thumbnail__top-info div:last-child {
        padding-left: 8px;
        font-size: 12px; }
    .thumbnail__board .thumbnail__top .txt-red {
      color: #cf422f !important; }
    .thumbnail__board .thumbnail__top img {
      height: 15px; }
  .thumbnail__board .thumbnail__bottom-grid {
    display: grid;
    grid-template-columns: auto auto auto auto; }
    .thumbnail__board .thumbnail__bottom-grid .dt-box {
      font-size: 12px; }
      .thumbnail__board .thumbnail__bottom-grid .dt-box div:first-child {
        color: #a0a3af;
        margin-bottom: 5px; }

.dt-box div .txt-green {
  color: #4fd08a; }
.dt-box div .txt-red {
  color: #dd2e16; }

@media only screen and (max-width: 1946px) {
  .overflow {
    overflow-x: scroll; }

  .overflow::-webkit-scrollbar {
    width: 0 !important; } }
@media only screen and (max-width: 1205px) {
  .header__nav {
    padding-left: 10px; }

  .navbar__item .navbar__item-link {
    padding: 0px 10px; }

  .header__flex .img-transaction {
    padding: 0px 15px 0px 5px; }
  .header__flex span {
    padding-right: 17px; }

  .header__account .ring-box {
    padding: 0px 12px; }
  .header__account p {
    padding: 0px 10px; } }
@media only screen and (max-width: 1030px) {
  .header__nav .navbar {
    display: none; } }
@media only screen and (max-width: 1476px) {
  .mySwiper .swiper-wrapper .swiper-slide {
    min-width: 340px; } }
@media only screen and (max-width: 1322px) {
  .price__left .nav-tabs .nav-item {
    padding: 0px 5px; } }
@media only screen and (max-width: 1496px) {
  .thumbnail__wrap {
    overflow-x: scroll; }
    .thumbnail__wrap .thumbnail__board {
      min-width: 240px;
      padding: 5px 10px; } }

/*# sourceMappingURL=main.css.map */
