$bg-col: #131721;
$bg-sidebar: #1d2029;
$col-white: #ffffff;
$col-gray: #a0a3af;
$col-orange: #e7ab21;
$col-black: #252424;
$col-green: #38ada9;
$col-green-dt: #4fd08a;
$col-purple-dt: #bb33dd;
$col-yellow-dt: #ccac3d;
$col-red-dt: #cf422f;
$col-blue-dt: #00cccc;
$bg-total-asset: #292d38;
$green-col-th: #0fb159;
$red-col-th: #dd2e16;
$font-family: "Roboto";
$font-14px: 14px;
$font-12px: 12px;

body {
  width: 100%;
  height: 100%;
  font-size: $font-14px;
  font-family: $font-family;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
#root {
  width: 100%;
  max-width: 1920px;
  background-color: $col-black;
  min-height: 100vh;
}
.header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 10px;
  background-color: $bg-col;
}

.header__content {
  display: flex;
  align-items: center;
  .header__logo {
    display: flex;
    .fa-solid.fa-xmark {
      display: none;
    }
    a {
      text-decoration: none;
    }
    a {
      .lg-name {
        margin-left: 12px;
      }
    }
  }
  .header__nav {
    .navHide {
      display: none;
    }
  }
}

.header__nav {
  .navbar {
    display: flex;
    margin: 0px;
    align-items: center;
    list-style: none;
    cursor: pointer;
  }
}
.navbar__item {
  .navbar__item-link {
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    color: $col-gray;
    font-size: $font-14px;
    padding: 0px 16px;
    border-bottom: 2px;
  }
  .navbar__item-link:active {
    color: $col-orange;
    border-bottom: 2px solid $col-orange;
  }
}
//event khi click tài sản
.header__wrap {
  .sidebar-asset-container {
    padding-top: 25px;
    position: fixed;
    // left: -300px;
    left: 0px;
    top: 60px;
    width: 280px;
    height: calc(100vh - 60px);
    background-color: $bg-sidebar;
    transition: left 500ms;
  }
  // .sidebar-asset-container.active {
  //   left: 0px;
  // }
}
.menu-item-container {
  padding: 20px;
}
.menu-item-container:first-child {
  display: flex;
  margin-bottom: 25px;
  img {
    height: 16px;
    filter: invert(79%) sepia(34%) saturate(1486%) hue-rotate(344deg)
      brightness(95%) contrast(89%);
    padding-right: 10px;
  }
  .item-name {
    color: #a0a3af;
    font-size: $font-14px;
  }
  .item-name:hover {
    color: #c5bdbd;
  }
}
.menu-item-container:last-child {
  width: 220px;
  margin-top: 33px;
  align-items: center;
  background-color: $bg-total-asset;
  border-radius: 10px;
  display: flex;
  margin: 0px auto;
  img {
    padding-right: 15px;
  }
  .item-name {
    color: $col-orange;
    font-size: 15px;
    font-weight: 600;
  }
}
.dropdown-logo {
  margin-left: auto;
}
.menu-item-container:last-child:hover {
  background-color: #313541;
}

.menu-item-container {
  position: relative;
  .sub-container {
    border-left: 2px solid #6f767e;
    position: absolute;
    top: 70px;
    left: 0px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #6f767e;
    visibility: hidden;
    transition: top 5s;
    .sub-menu-item {
      padding: 15px 35px;
    }
    .sub-menu-item:hover {
      color: #c5bdbd;
    }
  }
  .sub-container.active {
    visibility: visible;
  }
}

.dropdown-orderBook-logo.click {
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}
// end event click tài sản

// event click sổ lệnh
.header__wrap {
  position: relative;
  .sidebar-orderbook {
    position: absolute;
    // left: -300px;
    left: 0;
    top: 60px;
    width: 280px;
    height: calc(100vh - 60px);
    background-color: $bg-sidebar;
    transition: left 500ms;
    z-index: 2;
  }
  // .sidebar-orderbook:active {
  //   left: 0px;
  // }
}
.sidebar-orderbook {
  display: flex;
  flex-direction: column;
  .orderBook__container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 30px;
  }
  .orderBook__container:first-child {
    padding-bottom: 34px;
    img {
      padding-right: 12px;
      height: 16px;
      filter: invert(79%) sepia(34%) saturate(1486%) hue-rotate(344deg)
        brightness(95%) contrast(89%);
    }
    .orderBook-name {
      color: #a0a3af;
    }
    .orderBook-name:hover {
      color: $col-orange;
    }
  }
  .orderBook__container:not(:nth-child(1)) {
    padding-bottom: 150px;
    img:last-child {
      height: 6px;
    }
    .orderBook-name {
      color: #a0a3af;
      padding-left: 15px;
      font-weight: 700;
      font-size: 14px;
    }
    .orderBook-name:hover {
      color: $col-orange;
    }
    .dropdown-orderBook-logo {
      margin-left: auto;
      margin-right: 5px;
    }
  }
}
.orderBook__container:first-child {
  padding-top: 30px;
}

.submenu__container {
  position: absolute;
  width: 100px;
  height: 0px;
  left: 50px;
  top: -600px;
  width: 70%;
  transition: height 300ms;
  // visibility: hidden;
  .submenu-item {
    color: #6f767e;
    padding: 8px 0px 8px 10px;
  }
  .submenu-item:hover {
    background-color: #292d38;
    border-radius: 10px;
    color: $col-white;
  }
}

.orderBook__container {
  .submenu__container.active {
    // visibility: visible;
    height: 100px;
    top: 30px;
  }
}

// end-click sổ lệnh
// header__right
.header__right {
  display: flex;
  align-items: center;
}

.header__flex {
  display: flex;
  align-items: center;
  border-right: 1px solid #292d38;
  .img-transaction {
    padding: 0px 18px 0px 5px;
    color: $col-orange;
  }
  span {
    color: $col-orange;
    font-size: 16px;
    padding-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span:hover {
    color: $col-white;
  }
  .star {
    cursor: pointer;
    height: 18px;
    width: 28px;
    background-color: #cf422f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    img {
      height: 10px;
    }
  }
  p {
    margin: 0px;
    color: $col-gray;
    padding: 0px 5px 0px 10px;
    font-size: $font-12px;
  }
  p:hover {
    color: $col-orange;
  }
  .dropdown-icon {
    padding: 0px 12px 0px 4px;
    height: 5px;
  }
}

.header__account {
  display: flex;
  align-items: center;
  .account__box {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      color: $col-white;
      padding-right: 10px;
    }
  }
  .ring-box {
    padding: 0px 10px;
  }
  .avata-girl {
    padding: 0px 8px;
  }
  p {
    padding: 0px 12px;
    margin: 0px;
    color: $col-white;
  }
  p:hover {
    color: $col-orange;
  }
  .dropdown-icon {
    height: 5px;
  }
}
.menuHide {
  filter: invert(100%) sepia(0%) saturate(7459%) hue-rotate(85deg)
    brightness(101%) contrast(104%);
  height: 25px;
  width: 25px;
  padding: 0px 10px;
  margin-bottom: 5px;
  .icon-menuHide {
    color: white;
  }
}

.menuHide,
.navHide,
.tabBox {
  display: none;
}

// css khi click vào tài khoản
.header__account {
  .account-dropdown {
    position: fixed;
    top: 61px;
    right: -300px;
    width: 195px;
    height: 206px;
    z-index: 2;
    border-radius: 3px;
    background-color: #292d38;
    transition: right 550ms;
    color: #e2e2e2;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    .item-container {
      display: flex;
      align-items: center;
      padding: 9px 0px;
      .menu-item-name {
        padding-left: 15px;
      }
      .menu-item-name:hover {
        color: $col-orange;
      }
    }
    .item-container:last-child {
      margin-top: 10px;
      padding: 20px 0px;
      margin-top: 14px;
      border-top: 1px solid #313645;
      .menu-item-name {
        color: $col-red-dt;
      }
    }
    .menu-item-logo {
      height: 15px;
      width: 15px;
    }
    .menu-item-name {
      color: #e2e2e2;
    }
  }
  // account-dropdown khi active
  .account-dropdown.active {
    right: 10px;
    .item-container:last-child {
      margin-top: 10px;
      padding: 20px 0px;
      margin-top: 14px;
      border-top: 1px solid #313645;
      .menu-item-name {
        color: $col-red-dt;
      }
    }
  }
}

//responsive
@media only screen and(max-width: 1496px) {
  .header__nav {
    .navbar {
      padding-left: 10px;
    }
  }
}

@media only screen and(max-width:1205px) {
  .navbar__item {
    .navbar__item-link {
      padding: 0px 10px;
    }
  }
  .header__flex {
    .img-transaction {
      padding: 0px 15px 0px 5px;
    }
    span {
      padding-right: 17px;
    }
  }
  .header__account {
    .ring-box {
      padding: 0px 12px;
    }
    p {
      padding: 0px 10px;
    }
  }
}

@media only screen and(max-width:1037px) {
  .navbar__item {
    .navbar__item-link {
      padding: 0px 10px;
    }
  }
  .header__flex {
    .img-transaction {
      padding: 0px 6px;
    }
    span {
      padding-right: 17px;
      font-size: 14px;
    }
  }
  .header__account {
    .avata-girl {
      padding: 0px 4px;
    }
  }
}

@media only screen and (max-width: 990px) {
  .account-dropdown {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__content {
    .header__logo {
      cursor: pointer;
      a {
        .lg-name {
          margin-left: 15px;
          height: 18px;
        }
      }
    }
  }
  .header__wrap {
    position: relative;
  }
  .header__left {
    .navbar {
      display: none;
    }
  }
  .header__right {
    .header__flex {
      .img-transaction,
      span,
      p,
      .dropdown-icon {
        display: none;
      }
    }
    .header__account {
      .avata-girl,
      p,
      .dropdown-icon {
        display: none;
      }
      .account__box {
        display: none;
      }
    }
    .menuHide {
      display: flex;
    }
  }
}
